<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DVD Rentals</title>


    <style>
        #top {
            height:70px;
            font-size:30px;
            text-align:center;
            padding-top:20px;
        }
        .topn{width:33%; float:left; text-align:center; background-color:black;color:white; border:0;
        height:30px; font-size:16px;}
    </style>
</head>

<body>
<div id="top">DVD Rentals</div>
<div id="navbar" style="width:100%;">
    <button class="topn" onclick = "location.href = '/'" style="margin-right:.5%;">Home</button>
    <button class="topn" onclick = "location.href = '/all_interactions'" style="margin-right:.5%;">All Rentals</button>
    <button class="topn" onclick = "location.href = '/search'">Search By Customer</button>
</div>


 <img style="margin-left:20%; width:60%;" src="/fig/" alt="Image Placeholder">

</body>
</html>